body {
  margin: 0;
  background-color: #0b0b0b;
  font-family: monospace;
}

* { box-sizing: border-box; }

#container {
  margin: 0 auto;
  width: calc(100vmin - 96px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#toolbox {
  display: flex;
  justify-content: space-between;
  border: 5px solid darkgoldenrod;
  border-bottom: none;
  background-color: #222;
  overflow: auto;
}

button {
  padding: 8px 32px;
  margin: 8px;
  background-color: goldenrod;
  color: #333;
  border: 1px solid #000;
  font-family: inherit;
  font-weight: 900;
  font-size: 12px;
}

#sketch {
  display: grid;
  height: calc(100vmin - 96px);
  border: 5px solid darkgoldenrod;
}

.square {
  background-color: #000;
  border: .25px solid #FFF;
}

.plain {
  background-color: yellowgreen;
}

.info {
  padding: 8px;
  color: #FFF;
  text-align: center;
  border: 5px solid darkgoldenrod;
  border-top: none;
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
}

/* Allow for increased toolbox height when button text wraps on smalls screens */
@media (max-height: 900px) {
  #container {
    width: calc(100vmin - 114px);
  }

  #sketch {
    height: calc(100vmin - 114px);
  }
}