body {
  margin: 0;
  background-color: #0b0b0b;
}

body > * {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: calc(100vmin - 58px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toolbox {
  border: 5px solid darkgoldenrod;
  border-bottom: none;
  background-color: #222;
}

button {
  padding: 8px 32px;
  margin: 8px;
  background-color: goldenrod;
  color: #333;
  border: 1px solid #000;
  font-family: monospace;
  font-weight: 900;
}

.sketch {
  display: grid;
  height: calc(100vmin - 68px);
  border: 5px solid darkgoldenrod;
}

.square {
  /* border: .25px solid #FFF; */
  background-color: #000;
}

.selected {
  background-color: yellowgreen;
}